/* Conteneur du formulaire */
/* .form-container {
    max-width: 360px;
    margin: 80px auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.form-container input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 16px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}

.form-container input:focus {
    border-color: #2563eb;
}

.form-container input::placeholder {
    color: #9ca3af;
} */

.form {
    max-width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

.error {
    color: red;
    font-size: 14px;
}